export(runivariatemh)
export(cppunivariatemh)
export(rmultivariatemh)
export(cppmultivariatemh)
export(hello)
export(rcpp_hello)
importFrom(Rcpp, evalCpp)
import(stats)
import(MASS)
useDynLib(RMetropolisHastings, .registration = TRUE)
